<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="contacto.component.css">
</head>
<body>
    <app-navegacion></app-navegacion>
    <section>
        <h1>Contacto</h1>
        <h3>¡Nos encantaría escuchar de ti! Contáctanos para cualquier pregunta, sugerencia o comentario.</h3>
    
        <form action="#" method="post">
            <label for="nombre">Nombre:</label>
            <br><br>
            <input type="text" id="nombre" name="nombre" required>
            <br><br>
            <label for="email">Correo Electrónico:</label>
            <br><br>
            <input type="email" id="email" name="email" required>
            <br><br>
            <label for="mensaje">Mensaje:</label>
            <br><br>
            <textarea id="mensaje" name="mensaje" rows="4" required></textarea>
            <br><br>
            <button id="boton" type="submit">Enviar Mensaje</button>
            <br><br>
        </form>
    
        <p>O si prefieres, puedes contactarnos directamente:</p>
        
        <p>Correo Electrónico: info@gamestore.com </p>
        <p>Teléfono: +123 456 789</p>
    </section>
    
</body>
</html>
