<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
    <link rel="stylesheet" href="sobre-nosotros.component.css">
</head>
<body>
    <app-navegacion></app-navegacion>
    <section>
        <h1>Sobre Nosotros</h1>
        <p>Bienvenido a nuestra Biblioteca de Videojuegos, el lugar perfecto para los amantes de los videojuegos. 
            Nos apasiona proporcionar una amplia variedad de títulos emocionantes para todos los jugadores, 
            desde aventuras épicas hasta desafíos estratégicos.</p>
        
        <p>Nuestra misión es crear un espacio donde los jugadores puedan descubrir nuevos títulos, 
            obtener información detallada sobre sus juegos favoritos y compartir su entusiasmo con una comunidad vibrante.</p>
    
        <p>En nuestra biblioteca, encontrarás reseñas honestas, recomendaciones personalizadas 
            y las últimas noticias sobre la industria del videojuego. Estamos comprometidos a brindarte una experiencia única 
            y enriquecedora en el mundo de los videojuegos.</p>
    
        <p>Gracias por ser parte de nuestra comunidad. ¡Disfruta explorando y jugando!</p>
    </section>
    
</body>
</html>
